body {
  color: #bbb;
  background-color: #232323;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
}

ul {
  list-style-type: none;
}

li {
}

.abs-pos {
  position: absolute;
}

.x-title {
  color: #bbb;
  height: 38px;
  font-size: 15px;
  font-weight: normal;
  background-color: #8C1717;
  padding:0;
  margin:0;
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}

.x-border {
  border-top: solid 1px #141414;
  border-left: solid 1px #141414;
  border-right: solid 1px #141414;
  border-bottom: solid 1px #141414;
}

.x-output {
  font-size: 13px;
}

.x-content {
  overflow: auto;
  color: #929292;
  background-color: #232323;
  width: 100%;
  text-align: justify;
}

.x-content a {
  color: #929292;
}

.x-content li {
  color: #929292;
}

.x-spacer {
  height: 25px;
}

.x-spacer-alt {
  height: 15px;
}

.x-clear{
  clear:both;
}

.x-scroll {
    position:absolute
    top:210px

}
.x-scroll.fixed {
    position:fixed;
    top:0;
} 

.x-links {
  font-size: 30px;
  opacity: 0.6;
}

.x-links a{
  color: #bbb;
}

.x-links-alt {
  font-size: 24px;
  opacity: 0.6;
}

.x-links-alt a{
  color: #bbb;
}

