body {
  color: #bbb;
  background-color: #232323;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
}

ul {
  list-style-type: none;
}

li {
}

.abs-pos {
  position: absolute;
}

.x-title {
  color: #bbb;
  height: 38px;
  font-size: 15px;
  font-weight: normal;
  background-color: #650000;
  padding-left: 10px;
  padding-top: 10px;
  width: 100%;
  font-family: "Roboto", sans-serif;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}

.x-content {
  overflow: auto;
  overflow-y:scroll;
  color: #929292;
  background-color: #232323;
  width: 100%;
  border-top: solid 1px black;
  border-left: solid 1px black;
  border-right: solid 1px black;
  border-bottom: solid 1px black;
}

.index {
  font-size: 30px;
}

.index a{
  color: #bbb;
}

.index-med {
  font-size: 24px;
}

.index-med a{
  color: #bbb;
}

