.article a {
	color: #2e373f;
	text-decoration: none;
}

.article a:hover {
	color: #576d80;
	text-decoration: none;
}

.article {
	margin: 0;
	font-size: 16px;
	padding-bottom: 5px;
	background-color: white;
}

.article-title {
	font-size:18px;
	font-weight:normal;
}

.article-date {
	float: right;
	font-size: 12px;
	font-style: italic;
	margin-right: 20px;
	color: #6c7c8b;
}
