
html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

header #header{
    top: 0;
    margin: 0;
    z-index: 100;
    padding: 0;
    width: 100%;
    height: 70px;
    position: fixed;
	background-color: #930000;
}

footer #footer {
    bottom: 0px;
    width: 100%;
	height: 220px;
    padding: 5px;
    color: #cfcfcf;
    position: fixed;
  	font-size: 18px;
  	font-weight: normal;
    text-align: center;
    vertical-align: middle;
    background-color: black;
  	font-family: "Roboto", sans-serif;
  	padding-top: 70px;
}

#logo {
	margin: 0px;
	height: 60px;
	color: white;
	background-color: #930000;
}

#logo .title {
	opacity: 0;
	padding-top: 10px;
	padding-left: 15px;
	font-size: 32px;
}

#logo .contact {
	padding: 15px;
	float: right;
	width: 10%;
}

#logo .contact i {
	opacity: 0;
	padding: 10px;
}

#navigation {
	top: 70px;
	opacity: 0;
	padding: 10px;
	color: white;
    z-index: 100;
	height: 45px;
	width: 100%;
	position: fixed;
	background-color: black;
	text-transform: uppercase;
}

#navigation ul {
	float: left;
	height: 45px;
	padding: 0px;
	list-style-type: none;
}

#navigation li {
	display: inline;
	margin-left: 25px;
	list-style-type: none;
}

#main {
	background-color: #e5e5e5;
}

#content {
	margin:0;
	z-index:0;
	opacity: 0;
	padding: 7px;
	color: #2e373f;
  	font-size: 15px;
	padding-top: 0px;
	padding-bottom: 30px;
  	font-family: "Roboto", sans-serif;
}

.container {
	padding-top: 15px;
}
